@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #10141e;
}

.page {
  max-width: 1920px;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  color: #ffffff;
}
.main {
  margin: 32px 0 20px;
  padding: 0 36px 0 164px;
}
@media (max-width: 768px) {
  .main {
    margin-top: 25px;
    padding: 0 25px 0 25px;
  }
}
@media (max-width: 426px) {
  .main {
    margin-top: 50px;
  }
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #fc4747;
  border-radius: 5px;
}
